.border{
    
    margin: 0px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-gray{
    background-color: #181818;
    
}

.rounded{
    border-bottom: 8px;
}

.m-1{
   
    padding: 4px;
}

.p-1{
    
}

::-webkit-scrollbar {
    width: 10px;  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1a1a1a;  /* Scrollbar track background */
}

::-webkit-scrollbar-thumb {
    background-color: #333;  /* Scrollbar thumb color */
    border-radius: 5px;  /* Rounded corners for the scrollbar thumb */
    border: 2px solid #1a1a1a;  /* Adds some padding to the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* Lighter color when hovering */
}